{% extends 'layout.html' %}
{% block main %}
	<div class="container p-5">
		<div class="row">
			<div class="col-1">
				<h5>Tu oro</h5>				
			</div>
			<div class="col-2">
				<div class="container border">
					<h5>{{suma}}</h5>
				</div>
			</div>
		</div>
		<br>
		<div class="row text-center">
			<div class="col-3 p-4 border ">
				<h3>Granja</h3>
				<p>(Gana entre 10 y 20 de oro)</p>
				<form action="/gold/process_money" method="post">
					<input type="hidden" name="min" value="10">
					<input type="hidden" name="max" value="20">
					<button class="btn btn-primary">Encontra oro!</button>
				</form>
			</div>
			<div class="col-3 p-4 border ">
				<h3>Cueva</h3>
				<p>(Gana entre 5 y 10 de oro)</p>
				<form action="/gold/process_money" method="post">
					<input type="hidden" name="min" value="5">
					<input type="hidden" name="max" value="10">
					<button class="btn btn-primary">Encontra oro!</button>
				</form>
			</div>
			<div class="col-3 p-4 border ">
				<h3>Casa</h3>
				<p>(Gana entre 2 y 5 de oro)</p>
				<form action="/gold/process_money" method="post">
					<input type="hidden" name="min" value="2">
					<input type="hidden" name="max" value="5">
					<button class="btn btn-primary">Encontra oro!</button>
				</form>
			</div>
			<div class="col-3 p-4 border ">
				<h3>Casino</h3>
				<p>(Apuesta hasta 50 de oro)</p>
				<form action="/gold/process_money" method="post">
					<input type="hidden" name="min" value="-50">
					<input type="hidden" name="max" value="50">
					<button class="btn btn-primary">Apuesta oro!</button>
				</form>
			</div>
		</div>
		<br>
		<h5>Actividades:</h5>	
		<div class="container border">
			<p>Gano {{oro}} de oro </p>
			<p>{{suma}}</p>
		</div>
	</div>
{% endblock %}	